html,body{
    font-family:Poppins;
    padding:0;
    margin:0;
    overflow-x:hidden}

    header{
        margin:0;
        padding:0;
        width:100%;
        height:10.5vw;
        background-image:url("../img/home/nav-background.svg");
        background-size:cover;
        background-repeat:no-repeat;
        color:#ffff}
        
header input{
    display:none}
            
header .content{
    display:flex;
    justify-content:space-between}
                
header .content img{        
    margin-left:1vw;margin-top:3vw;
    width:4vw}
                    
header .content ul{
    margin:4.5vw 1vw 0 0;
    display:flex;
    list-style:none}
                        
header .content ul .login{
    all:unset;
    color:white;
    background-color:#FFAF56;
    border-radius:20px;
    padding:5px 20px;
    margin-top:-2vw;
    margin-right:-1vw}
                            
header .content ul .login:hover{
    cursor:pointer;
    background-color:#f28206}
                                
header .content ul .lang{
    all:unset;color:#FFAF56;
    background-color:white;
    border-radius:20px;padding:5px 20px;
    margin-top:-2vw}
                                    
header .content ul .lang:hover{
    cursor:pointer;
    background-color:#dddddd}
                                        
header .content ul li{
    margin:0 3.5vw 0 0;
    font-weight:bolder;
    font-size:0.9vw}
                                            
header .content ul li a{
    text-decoration:none;
    color:#ffff}


.concept{
    display:flex;
    justify-content:space-between}

.concept img{
    width:50vw;
    margin-left:3vw;
    margin-top: 6vw;
}

.concept .content{
    text-align:left;
    font-size:1.4vw;
    margin-top:3vw;
    font-weight: bold;
    width:40vw
}

.concept .content h1{
    color: #FFAF56;
}
        
.concept .content p{
    white-space:pre-line;
    color: #25446E;
    
}

.langue{
    margin-top:250px;
    background-image:url("../img/a propos/Fichier_1.svg");
    height:100vw;
    width:100vw;
    background-size:cover;
    background-repeat:no-repeat}
    
.langue .content{
    display:block;
    text-align:center;
    margin:auto;
}

    .langue .content h1{
        padding-top:20vw;
        color:#25446E;
        font-size:3vw;
    }
    
    .langue .content ul{
        padding:0;
        text-align:center;
        display:flex;
        justify-content:space-around;
        list-style:none;
        margin:auto;width:70%}
    
    .langue .content p{
        font-size:1.5vw;
        width:100vw;
        color:#25446E;
    }
        
    .langue .content ul img{
        padding-top:2vw;
        width:13vw;
    }
        
    .langue .content ul p{
        margin:0;
        color:white;
        font-size:1.5vw;
        width:13vw;
        font-weight:bold}


        .signes{
            margin-top: 15vw;
            height:50vw;
            width:100vw;
            background-size:contain;
            background-repeat:no-repeat}
            
        .signes .content{
            justify-content:space-between}
            
        .signes .content img{
            margin-left:10vw;
            margin-top:8vw;
            width:27vw;
        }
        
        .signes .content2{
            display:flex;
            justify-content:space-between;
        }
        
        .signes .content .text{
            margin-top:8vw;
            width:50vw;
            text-align:center;
            font-size:1.5vw;
            margin-right:10vw}
        
        .signes .content h1{
            color: #FFAF56;
            text-align: center;
            font-size: 2.5vw;
        }

        .signes .content p{
            color: #25446E;
            text-align: left;
        }



        .nouveaute{
            height:32vw;
            width:100vw;
            background-size:contain;
            background-repeat:no-repeat}

            .nouveaute .content{
                justify-content:space-between}
            
        .nouveaute .content2{
            display:flex;
            justify-content:space-between}
            
        .nouveaute .content img{
            margin-left:10vw;
            margin-top:4vw;
            width:27vw}
        
        .nouveaute .content .text{
            margin-top:8vw;
            width:50vw;
            text-align:center;
            font-size:1.5vw;
            margin-right:10vw}
        
        .nouveaute .content h1{
            color: #FFAF56;
            text-align: center;
            font-size: 2.5vw;
        }

        .nouveaute .content p{
            color: #25446E;
            text-align: left;
        }





footer{
    padding:0;
    margin:0;
    width:100vw;
    height:25vw;
    background-image:url("../img/home/footer.svg");
    background-size:cover;
    background-repeat:no-repeat;
    color:white;
    font-weight:bold;
    text-align:center;
    font-size:1.5vw}
                                                    
footer ul{
   padding:0;
   margin:0;
    display:flex;
    justify-content:space-around;
    list-style:none;
    margin-top:8vw}
                                                    
footer ul li a{
    text-decoration:none;
    color:white;
    font-weight:normal;
    font-size:1.3vw}
                                                    
footer ul li ul{
    flex-direction:column}
                                                    
footer ul li ul li{
    margin-top:1vw}

footer ul li ul li:nth-child(2){
    margin-top:2vw}
