html,
body {
    font-family: Poppins;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.contact {
    display: block;
    width: 50%;
    margin-right: 4vw;

}

.contact h2 {
    margin-top: 5vw;
    color: #f28206;
    font-size: 2.5vw
}

.contact .elements {
    position: relative;
    width: 80%;
}

.elements a {
    text-decoration: none;
}

.contact .elements button {
    all: unset;
    padding: 0.5vw 2.2vw;
    background-color: #FDAE33;
    border-radius: 0.5vw;
    font-size: 1.2vw;
    font-weight: bold;
    color: white;
    margin-top: 3vw;
    text-align: center;
    width: 80%;

}

.contact .elements button:hover {
    cursor: pointer;
    background-color: #f28206
}


.container img{
    margin-top: 5vw;
    width: 18vw;
}


@media (max-width: 1024px) {
    .contact h2{
        font-size: 3vw;
    }
    .contact .elements button {
        width: 100%;
        font-size: 2vw;
    }
    .contact{
        margin-right: 10vw;
    }
    .container img{
        width: 20vw;
    }
}





@media (max-width: 640px) {

    .contact h2{
        font-size: 6vw;
        text-align: center;
    }
    .contact .elements button {
        width: 90%;
        font-size: 5vw;
        padding: 4vw 4.4vw;
    }
    .contact{
        margin-right: auto;
        margin-left: auto;
        width: 100%;
    }
    .contact .elements{
        margin-right: auto;
        margin-left: auto;
        width: 95%;
        text-align: center;
    }


    .container img{
        width: 35vw;
        margin-right: auto;
        margin-left: auto;
    }
    footer{
        display: none;
    }
    .container{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        width: 100%;
    }

}
