<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="../controller/controller.php" method="POST">
        <input type="text" name="first_name" placeholder="first name" required>
        <input type="text" name="last_name" placeholder="last name" required>
        <input type="mail" name="email" placeholder="Email" required>
        <label>birthday</label>
        <input type="date" name="birthday" required>
        <input type="password" name="password" placeholder="Password">
        <button>envoyer</button>
    </form>
</body>
</html>